/TesteTeam.class
/Goleiro.class
/T1.class
/T2.class
/Capitao.class
/T10.class
/Defensor.class
/FuzzyleirosTeam.class
/T4.class
/Atacante.class
/T5.class
/T7.class
/T3.class
/Meio.class
/MeioCampo.class
/T6.class
/T8.class
/T9.class
